.u-center-text {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.u-marging-botton-small {
    margin-bottom: 2rem !important;
}

.u-marging-botton-medium {
    margin-bottom: 4rem !important;
}

.u-marging-botton-big {
    margin-bottom: 10rem !important;
}

.u-marging-top-big {
    margin-bottom: 10rem !important;
}


